<mat-card>
  <mat-card-content>

    <div *ngIf="rides">
      <mat-list>
        <ng-container *ngFor="let ride of rides; let i = index;">
          <h3 matSubheader *ngIf="!rides[i-1]">{{ride.date}}</h3>
          <h3 matSubheader *ngIf="ride.date && rides[i-1] && ride.date !== rides[i-1].date">{{ride.date}}</h3>

          <mat-list-item>
            <mat-icon matListIcon *ngIf="ride.type === 'Zakelijk'">business</mat-icon>
            <mat-icon matListIcon *ngIf="ride.type === 'Privé'">home</mat-icon>
            <mat-icon matListIcon *ngIf="ride.type !== 'Privé' && ride.type !== 'Zakelijk'">error</mat-icon>
            <h4 matLine *ngIf="ride.toAddress">{{ride.toAddress}}</h4>
            <h4 matLine *ngIf="!ride.toAddress">Unknown</h4>
            <p matLine *ngIf="ride.kilometers">{{ride.kilometers}} kilometer <i *ngIf="ride.startOdoMeter && ride.endOdoMeter">({{ride.startOdoMeter}} - {{ride.endOdoMeter}})</i></p>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
    <div *ngIf="!rides">
      Error...
    </div>
  </mat-card-content>
</mat-card>
