
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

mat-toolbar-row {
  @include make-container();
  @include make-container-max-widths();
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.app-title a {
  color: inherit;
  text-decoration: inherit;
}
