<div class="container is-widescreen">

  <div *ngIf="sheetLoading">
    Loading...
  </div>

  <div *ngIf="!sheetLoading">

    <div *ngIf="sheet">
      <h1 class="title">{{sheet.name}}</h1>

      <app-log-ride [rides]="rides" [sheetId]="getSheetId()" (logged)="rideLogged($event)"></app-log-ride>


      <div *ngIf="ridesLoading">
        Loading...
      </div>


      <div *ngIf="!ridesLoading">
        <h2 class="title">Ritten</h2>

        <a class="drive-link" href="https://docs.google.com/spreadsheets/d/{{getSheetId()}}" target="_blank"
           mat-stroked-button>Open in Google Drive <mat-icon style="font-size: 22px;">open_in_new</mat-icon></a>

        <app-rides-overview [rides]="rides"></app-rides-overview>
      </div>

    </div>

    <div *ngIf="!sheet">
      Error...
    </div>
  </div>
</div>
