@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;

  font-weight: normal;
  margin-top: $spacer * 3;
  margin-bottom: $spacer * 3;
}

.drive-link {
  margin-bottom: $spacer;
}

.loading {
  margin-top: $spacer * 3;
}
