<section class="section">
  <div class="container">
    <div *ngIf='!signedIn'>
      <h1 class="title">Kilometeradministratie</h1>

      <mat-card>
        <mat-card-content>
          <p>Please log in to continue.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf='signedIn'>

      <h1 class="title">Spreadsheets</h1>

      <div *ngIf="sheets">
        <mat-card>
          <mat-card-content>
            <mat-nav-list>
              <a *ngFor="let sheet of sheets" mat-list-item routerLink="/rides/{{sheet.id}}">{{sheet.name}}</a>
            </mat-nav-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="!sheets">
        <div *ngIf="sheetsLoading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div *ngIf="!sheetsLoading">
          Error...
        </div>
      </div>

    </div>
  </div>
</section>


