<mat-card>
  <mat-card-content>

    <form (ngSubmit)="onSubmit()" #rideForm="ngForm">
      <div class="columns is-desktop is-multiline">
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput placeholder="Datum" type="date" class="form-control" id="date" name="date" required
                   [(ngModel)]="newRide.date">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput placeholder="Type" type="text" class="form-control" id="type" name="type" required
                   [(ngModel)]="newRide.type">
          </mat-form-field>
        </div>
      </div>

      <div class="columns is-desktop">
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput placeholder="Beginstand" type="number" class="form-control" id="startOdoMeter"
                   name="startOdoMeter" required [(ngModel)]="newRide.startOdoMeter">
          </mat-form-field>
        </div>
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Eindstand" class="form-control" id="endOdoMeter"
                   name="endOdoMeter" required [(ngModel)]="newRide.endOdoMeter">
          </mat-form-field>
        </div>
      </div>

      <div class="columns is-desktop">
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput placeholder="Van" type="text" class="form-control" id="fromAddress" name="fromAddress"
                   required
                   [(ngModel)]="newRide.fromAddress">
          </mat-form-field>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column is-three-fifths">
              <mat-form-field class="full-width">
                <input matInput placeholder="Naar" type="text" class="form-control" id="toAddress" name="toAddress"
                       required
                       [(ngModel)]="newRide.toAddress">
              </mat-form-field>
            </div>
            <div class="column">
              <mat-checkbox [(ngModel)]="differentRoute" name="differentRoute">Afwijkende route</mat-checkbox>
            </div>
          </div>

        </div>
      </div>

      <div class="columns is-desktop" *ngIf="differentRoute">
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput placeholder="Afwijkende route" type="text" class="form-control" id="route" name="route"
                   [(ngModel)]="newRide.route">
          </mat-form-field>
        </div>
      </div>

      <div class="columns is-desktop">
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bezoekadres" type="text" class="form-control" id="visitedAddress"
                   name="visitedAddress"
                   [(ngModel)]="newRide.visitedAddress">
          </mat-form-field>
        </div>
      </div>

      <div class="columns is-desktop">
        <div class="column">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bijzonderheden" type="text" class="form-control" id="remarks" name="remarks"
                   [(ngModel)]="newRide.remarks">
          </mat-form-field>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </mat-card-content>
</mat-card>
