<mat-card>
  <mat-card-content>

    <form (ngSubmit)="onSubmit(rideForm);" #rideForm="ngForm" class="log-ride-form">
      <h4>Algemeen</h4>

      <div class="row">
        <div class="col col-12 col-md-4">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Datum</mat-label>
            <input matInput type="date" id="date" name="date" required [(ngModel)]="newRide.date">
          </mat-form-field>
        </div>

        <div class="col col-6 col-md-4">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Beginstand</mat-label>
            <input matInput type="number" id="startOdoMeter" name="startOdoMeter" required
                   [(ngModel)]="newRide.startOdoMeter">
          </mat-form-field>
        </div>
        <div class="col col-6 col-md-4">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Eindstand</mat-label>
            <input matInput type="number" id="endOdoMeter" name="endOdoMeter" required
                   [(ngModel)]="newRide.endOdoMeter">
          </mat-form-field>
        </div>
      </div>

      <h4>Bestemming</h4>

      <div class="row">
        <div class="col">
          <app-preset-picker [sheetId]="sheetId" (selected)="presetSelected($event)"></app-preset-picker>
        </div>
      </div>

      <div class="row">
        <div class="col col-md">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Van</mat-label>
            <input matInput type="text" id="fromAddress" name="fromAddress" required [(ngModel)]="newRide.fromAddress">
          </mat-form-field>
        </div>
        <div class="col col-md">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Naar</mat-label>
            <input matInput type="text" id="toAddress" name="toAddress" required [(ngModel)]="newRide.toAddress">
          </mat-form-field>
        </div>
        <div class="col col-md">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Karakter</mat-label>
            <mat-select name="type" id="type" required [(ngModel)]="newRide.type">
              <mat-option value="Zakelijk">Zakelijk</mat-option>
              <mat-option value="Privé">Privé</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col col-md">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Afwijkende route</mat-label>
            <input matInput type="text" id="route" name="route" [(ngModel)]="newRide.route">
          </mat-form-field>
        </div>

        <div class="col col-md">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Bezoekadres</mat-label>
            <input matInput type="text" id="visitedAddress" name="visitedAddress" [(ngModel)]="newRide.visitedAddress">
          </mat-form-field>
        </div>

        <div class="col col-md">
          <mat-form-field class="full-width no-hint-spacing" appearance="outline">
            <mat-label>Opmerkingen</mat-label>
            <input matInput type="text" id="remarks" name="remarks" [(ngModel)]="newRide.remarks">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button *ngIf="!loading" mat-raised-button class="full-width" type="submit" color="primary" [disabled]="!rideForm.form.valid">
            Submit
          </button>

          <mat-spinner *ngIf="loading" [diameter]="36"></mat-spinner>

          <p *ngIf="error" class="error">Could not add ride</p>
        </div>
      </div>


    </form>
  </mat-card-content>
</mat-card>
